.DS_Store
node_modules
/dist

# Editor
.idea
.vscode
*.sw?

# Rust
target/
backend/Cargo.lock

# Build output
kyklos
.private
run/web
run/web/**/*
run/web/sneat/assets
run/web/sneat/assets/**/*


##
**/FortiGate 90D畫面-legacy/*
